* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans";
  height: 100vh;
  margin: 0;
  width: 100%;
}

.container {
  margin: auto;
  max-width: 100%;
}

.blue-box {
  background-color: #E5F3F2;
  height: 255px;
  width: 100%;
}

.idea-log {
  margin: auto;
  width: 50%;
}

h1 {
  font-family: "Roboto Slab";
  font-size: 2.5em;
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.idea-text {
  color: #00A79D;
}

.box-text {
  color: #6D6E71;
}

.user-inputs {
  border: solid 2px #D1D3D4;
  height: 35px;
  padding: 2px 0 2px 5px;
  margin-bottom: 15px;
  width: 100%;
  color: #6D6E71;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
}

#idea-body {
  margin-bottom:
}

::-webkit-input-placeholder {
  color: #D1D3D4;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
}

.card-buttons {
  height: 20px;
  width: 20px;
}

form {
  height: 75px;
}

#save-button {
  background-color: #00A79D;
  border-style: none;
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 5px;
}

#save-button:hover {
  background-color: #045E55;
}

#save-button:disabled {
  background-color: #D1D3D4;
}

#idea-title,
#idea-body,
#save-button,
#search-bar:focus {
  outline: none;
}

#search-bar {
  margin: 25px 0;

}

.white-box {
  margin: 0;
  width: 100%;
}

.idea-card {
  border-bottom: solid 1px #D1D3D4;
  width: 100%;
}

.card-title-flex,
.card-quality-flex {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.card-title-flex {
  justify-content: space-between;
  margin-top: 18px;

}

.card-quality-flex {
  justify-content: flex-start;
}

.quality-spacing {
  margin: 20px 0;
}

h2,
h3 {
  color: #6D6E71;
  font-family: "Roboto Slab";
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  margin-left: 5px;
}

p {
  color: #939598;
  margin-left: : 5px;
}

#upvote-button,
#downvote-button {
  margin-right: 15px;
}
