* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  margin: 0;
  min-width: 350px;
  width: 100%;
}

.container {
  margin: auto;
  max-width: 100%;
}

.blue-box {
  background-color: #E5F3F2;
  height: 255px;
  position: sticky;
  top: 0;
  width: 100%;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 2.5em;
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.idea-log {
  margin: auto;
  width: 50%;
}

.idea-text {
  color: #00A79D;
}

.box-text {
  color: #6D6E71;
}

form {
  height: 75px;
}

.user-inputs {
  border: solid 2px #D1D3D4;
  color: #6D6E71;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  height: 35px;
  margin-bottom: 15px;
  padding: 2px 0 2px 5px;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #D1D3D4;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
}

#idea-body {
  margin-bottom:
}

#idea-title,
#idea-body {
  padding-left: 5px;
}

#save-button {
  background-color: #00A79D;
  border-style: none;
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 5px;
}

#save-button:hover {
  background-color: #045E55;
}

#save-button:disabled {
  background-color: #D1D3D4;
}

#idea-title,
#idea-body,
#save-button,
#search-bar:focus {
  outline: none;
}

#search-bar {
  margin: 25px 0;
}

.white-box {
  margin: 0;
  width: 100%;
}

.idea-card {
  border-bottom: 1px #D1D3D4 solid;
  width: 100%;
}

.card-title-flex,
.card-quality-flex {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.card-title-flex {
  justify-content: space-between;
  margin-top: 18px;

}

.card-quality-flex {
  justify-content: flex-start;
}

.quality-spacing {
  margin: 20px 0;
}

h2,
h3 {
  color: #6D6E71;
  font-family: "Roboto Slab";
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  margin-left: 5px;
  margin-bottom: 20px;
}

p {
  color: #939598;
  margin-left: : 5px;
}

.card-buttons {
  height: 25px;
  width: 25px;
}

#upvote-button,
#downvote-button {
  margin-bottom: 20px;
  margin-right: 20px;
}

@media (max-width: 900px) {
  .idea-log {
    width: 80%;
  }
}

@media (max-width: 750px) {
  .idea-log {
    width: 90%;
  }
}

@media (max-width: 500px) {

  .user-inputs {
  color: #6D6E71;
  font-size: 30px;
  font-weight: bold;
  }

  ::-webkit-input-placeholder {
   font-size: 30px;
   padding-left: 5px;
  }

  .blue-box {
    height: 380px;
  }

  #idea-title,
  #search-bar {
    height: 50px;
  }

  #idea-body {
    height: 120px;
    padding-bottom: 75px;
  }

  #save-button {
    font-size: 30px;
    height: 60px;
  }

  ::-webkit-#idea-body-placeholder {
    padding-bottom: 75px;
  }

  .search-box {
    margin-bottom: 40px;
  }

  #search-bar {
    margin-bottom: 30px;
  }

  h2 {
    font-size: 35px;
  }

  .card-buttons {
    height: 35px;
    width: 35px;
  }

  p {
    font-size: 25px;
  }
}
