1
body {
  font-family: "Open Sans";
}

.container {
  max-width: 1200px;
  margin: auto;
}

.blue-box {
  background-color: #E5F3F2;
  height: 280px;
  width: 100%;
}

.idea-log {
  width: 50%;
  margin: auto;
}

h1 {
  font-family: "Roboto Slab";
  font-size: 2.5em;
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.idea-text {
  color: #00A79D;
}

.box-text {
  color: #6D6E71;
}

.user-inputs {
  font-size: 1.3em;
  height: 35px;
  margin-bottom: 20px;
  width: 100%;
}

#idea-title,
#idea-body {
  padding-left: 10px;
}


#save-button {
  background-color: #00A79D;
  border-style: none;
  color: #FFFFFF;
  width: 103%
}

#save-button:hover {
  background-color: #045E55;
}

#search-bar {
  font-size: 1.3em;
  height: 35px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 100%;
}

.white-box {
  width: 100%;
  margin: 0;
}

.idea-card {
  width: 100%;
  display: flex;
  border-bottom: solid 1px #D1D3D4;
}

h2, h3 {
  color: #6D6E71;
}

p {
  color: #939598;
}

//further updates
